In [1]:
import pandas as pd
df1=pd.read_csv('data frame.csv')

In [2]:
fill=df1.fillna('[]')

In [4]:
transfer1=[]
for i in range(0,519):
    l1 = eval(fill.iloc[i]['国外旅游目的地'])
    transfer1.append(l1)
#l1 = eval(df1.iloc[3]['国外旅游目的地'])

In [5]:
transfer2=[]
for i in range(0,519):
    l2 = eval(fill.iloc[i]['国外旅游时间'])
    transfer2.append(l2)
    
transfer3=[]
for i in range(0,519):
    l3 = eval(fill.iloc[i]['国内旅游目的地'])
    transfer3.append(l3)
    
transfer4=[]
for i in range(0,519):
    l4 = eval(fill.iloc[i]['国内旅游时间'])
    transfer4.append(l4)

In [6]:
#transfer
result1 = sum(transfer1, [])
result2= sum(transfer2, [])
result3= sum(transfer3, [])
result4= sum(transfer4, [])

2529

In [7]:
dicta={}
dicta['abroad']=result1
dicta['abroad_date']=result2
abroaddata=pd.DataFrame(dicta)
uu=abroaddata['abroad'].replace('United States of America','U.S.A')

dicta2={}
dicta2['domestic']=result3
dicta2['domestic_date']=result4
domesticdata=pd.DataFrame(dicta2)

In [8]:
abroaddata['abroad']=uu

In [9]:
popular_abroadplace=abroaddata['abroad'].value_counts()[:7].sort_values(ascending=False)
popular_place_form=pd.DataFrame(popular_abroadplace)
#popular_place_form

           abroad
Thailand       63
Japan          61
U.S.A          33
Malaysia       32
Indonesia      32
Korea          31
Germany        24

In [10]:
from pyecharts import Bar
attr = popular_place_form.index
v1 = popular_place_form.abroad
bar = Bar("Top 7 Hot Abroad Destinations")
bar.add("times", attr, v1, mark_point=['max'], is_label_show=True)
bar.render('Top_7_Hot_Outbound_Destinations.html')
from IPython.display import IFrame
IFrame('Top_7_Hot_Outbound_Destinations.html', width=800, height=400)

In [11]:
popular_doplace=domesticdata['domestic'].value_counts()[:10].sort_values(ascending=False)
popular_do=pd.DataFrame(popular_doplace)
#popular_do
#popular_do.to_csv('domestic_rank.csv')

In [12]:
from pyecharts import Bar
attr = popular_do.index
v1 = popular_do.domestic
bar = Bar("Top 10 Hot Domestic Destinations")
bar.add("times", attr, v1, is_label_show=True)
bar.render('Top_10_Hot_Domestic_Destinations.html')
from IPython.display import IFrame
IFrame('Top_10_Hot_Domestic_Destinations.html', width=800, height=400)

In [13]:
import datetime
from dateutil.parser import parse

In [14]:
datelist=list(abroaddata['abroad_date'])
parsedate=[]
for d in datelist:
    formatdate='{}-{}'.format(d[:4],d[-2:])
    parsedate.append(formatdate)

In [15]:
abroaddata['abroad_date']=parsedate

In [16]:
abroaddata['datetime']=abroaddata['abroad_date'].apply(parse)

In [29]:
describe_date=abroaddata.set_index('datetime').resample('1y')['abroad'].describe()

In [30]:
city_change=abroaddata.set_index('datetime').resample('1y')['abroad']

In [31]:
df_list=pd.DataFrame(city_change.agg(sum)).tail(50)

In [32]:
t=abroaddata[abroaddata['abroad_date'].str.contains('2018')]
tttt=pd.DataFrame(t['abroad'].value_counts())
#tttt.to_csv('2018ab.csv')
#tttt
abroad_count=describe_date.tail(15)

In [43]:
describea=describe_date.tail(8)

In [44]:
datel=list(domesticdata['domestic_date'])
parsed=[]
for d in datel:
    formadate='{}-{}'.format(d[:4],d[-2:])
    parsed.append(formadate)
    
domesticdata['domestic_date']=parsed
    
domesticdata['datetime']=domesticdata['domestic_date'].apply(parse)
describe_datetime=domesticdata.set_index('datetime').resample('6m')['domestic'].describe()

In [45]:
described=describe_datetime.tail(17)
#describea

           count freq       top unique
datetime
2011-12-31     9    1     Nepal      9
2012-12-31    11    4  Thailand      8
2013-12-31    57    6  Malaysia     34
2014-12-31    88   13  Thailand     37
2015-12-31   100   15     Japan     39
2016-12-31   109   11  Thailand     43
2017-12-31   183   12  Thailand     62
2018-12-31   262   16     Japan     86

In [49]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='CathyChang1996', api_key='sqkxcq5kbyNhb6WMT7H1')

trace_high = go.Scatter(
    x=describea.index,
    y=describea['unique'],
    name = "variety",
    line = dict(color = '#17BECF'),
    opacity = 0.8)

trace_low = go.Scatter(
    x=describea.index,
    y=describea['count'],
    name = "total footprint quantity",
    line = dict(color = '#7F7F7F'),
    opacity = 0.8)

data = [trace_high,trace_low]


#fig = dict(data=data, layout=layout)
py.iplot(data, filename = 'Variety and total quantity of footprint abroad')
first_plot_url = py.plot(data, filename='Variety and total quantity of footprint abroad', auto_open=False,)
print (first_plot_url)

https://plot.ly/~CathyChang1996/4

In [26]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='CathyChang1996', api_key='sqkxcq5kbyNhb6WMT7H1')

trace_high = go.Scatter(
    x=described.index,
    y=described['unique'],
    name = "variety",
    line = dict(color = '#17BECF'),
    opacity = 0.8)

trace_low = go.Scatter(
    x=described.index,
    y=described['count'],
    name = "total footprint quantity",
    line = dict(color = '#7F7F7F'),
    opacity = 0.8)

data = [trace_high,trace_low]


#fig = dict(data=data, layout=layout)
py.iplot(data, filename = 'Variety and total quantity of domestic footprint')
first_plot_url = py.plot(data, filename='Variety and total quantity of domestic footprint', auto_open=False,)
print (first_plot_url)

https://plot.ly/~CathyChang1996/6